<div>
	<form (ngSubmit)="save()" #noteForm="ngForm">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Create {{title}}</h1>
				<div class="text-right">
					<button class="btn btn-primary" type="submit" [disabled]="!noteForm.form.valid">Save</button>
					<button class="btn btn-default" (click)="cancel()">Cancel</button>
				</div>
			</div>
		</div>
		<div class="note-container clear">
			<span *ngIf="note?.type=='note'">
                <note [note]="note"></note>
            </span>
		</div>
		<div class="check-list-container clear">
			<span *ngIf="note?.type=='checklist'">
                <todo-list [note]="note"></todo-list>
            </span>
		</div>
	</form>
</div>
