h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

.check-list-container {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-top: 0;
    margin-left: -250px;
    width: 500px;
    height: 100px;
    clear: both;
    z-index: 1000;
}
.note-container {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-top: 0;
    margin-left: -250px;
    width: 500px;
    height: 100px;
    clear: both;
    z-index: 1000;
}
