<div class="form-group">
	<label for="title">Title</label>
	<input type="text" required class="form-control" id="title" placeholder="Title" [(ngModel)]="note.title" name="title" #title="ngModel">
	        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                Title is required
            </div>
</div>
<div class="form-group">
	<label>Note</label>
	<div *ngIf="!note?.items[0]">
		<div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                Please write your note!!!
        </div>
		<textarea class="form-control" placeholder="Note" required [(ngModel)]="note.items[0].content" name="content" #content="ngModel" id = "content"></textarea>
	</div>
	<div *ngIf="note?.items[0]">
		<div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                Please write your note!!!
        </div>
		<textarea class="form-control" rows='20' required [(ngModel)]="note.items[0].content" placeholder="Note" name="content" #content="ngModel" id = "content"></textarea>
	</div>
</div>