<div *ngIf = "note">
    <form>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-default" (click)="save()">Save</button>
            <button *ngIf="note?._id" type="button" class="btn btn-default" (click)="delete()">Delete</button>
        </div>
            <div *ngIf = "!successMsg" >
                <span class = "text-success">
                Save Successfully
                </span>
            </div>
        <div class="clear">
            <div *ngIf = "note.type ===  CONST?.CATEGORY_NOTE">
                <note [note]="note" *ngIf="note"></note>
            </div>
            <div *ngIf = "note.type ===  CONST?.CATEGORY_CHECKLIST" class="padding-top-5px">
                <todo-list [note]="note" *ngIf="note"></todo-list>                 
            </div>          
        </div>
    </form>
</div>