<div class="col-md-12">
    <div class="page-header">
        <h1>Create Todo list</h1>
        <div class="text-right">
            <button class="btn btn-primary" (click)="save()">Save</button>
            <button class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>
<div class="check-list-container clear">
    <h2><input type="text" class="form-control" [(ngModel)]="note.title" placeholder="Title" /></h2>
    <div *ngFor="let item of note.items; let itemIndex = index" class="clear form-group check-list-item">
        <input type="checkbox" class="form-control" [(ngModel)]="item.completed" />
        <input type="text" class="form-control" [(ngModel)]="item.content" />
        <button class="btn btn-danger form-control" [disabled]="note.items?.length===1"
            (click)="removeItem(itemIndex)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
    <button class="btn btn-default form-control add-item" (click)="addItem()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>


